.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: 0 auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
    z-index: 1;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: orange;
    border-radius: 10px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.9); }
}
   
.blinky {
    background-color: red;
}

.pinky {
    background-color: purple;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}

.blinky, .pinky, .inky, .clyde {
    z-index: 2; /* Au-dessus des pac-dots */
}

.pac-man {
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 5px yellow;
}

.scared-ghost {
    background-color: aquamarine;
    animation: flash 0.5s infinite;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.outer-div{
    padding: 30px;
    background-color: black;
}

body {
    background-color: rgb(253, 203, 241);
}